<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form id = "login-form">
                    <div class="text-center"><h1 class="mt-1 mb-5 pb-1">Sign In</h1></div>
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="email" id="email" name = "email" class="form-control form-control-lg" />
                        <label class="form-label" for="email">E-mail Address</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input type="password" id="password" name = "password" class="form-control form-control-lg" />
                        <label class="form-label" for="password">Password</label>
                    </div>
                    <button type="submit"  data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block">Sign in</button>
                    <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="#signin" class="fw-bold text-body"><u>Sign Up Here!</u></a></p>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="./services/user-service.js"></script>
<script>
  $(document).ready(function () {
    UserService.init();
  });
</script>